<div class="container" translate>
    <button class="btn btn-primary" style="margin-bottom: 10px;" (click)="addTodo()">{{ 'todo.add-todo' | translate }}</button>
    <div class="search">
        <!--filters inputs-->
        <input [(ngModel)]="titleFilter" class="form-control search" (keyup)="filter()" placeholder="{{ 'search' | translate }}">
    </div><hr>
    <!--cards with data-->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-2">
        <div class="col" *ngFor="let todo of todos">
                <div class="card" style="width: 16rem;">
                    <div class="card-header">
                        <h4 class="card-title d-inline-block text-truncate" style="max-width: 175px;">{{todo.title || 'todo.non-title' | translate}}</h4>
                        <div class="float-end">
                            <a class="btn" (click)="deleteTodo(todo.id)">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </div>
                    <a (click)="showModal(todo)" class="btn card-body">
                        <ol style="color: grey" class="card-text text-start">
                            <li *ngFor="let element of todo.todoElement.slice(0, 4); let i = index">
                                <p [className]="element.status == 'DONE' ? 'text-decoration-line-through text-truncate' : 'text-truncate'"
                                *ngIf="i < 3" >{{element.content}}</p>
                                <p *ngIf="i >= 3">...</p>
                            </li>
                        </ol>
                    </a>
                    <div class="card-footer">
                        <small style="color: lightgrey" class="text-body-secondary">
                            {{ 'todo.updatedAt' | translate }} {{todo.updatedAt | date: 'MM-dd-yyyy, hh:mm'}}
                        </small>
                    </div>
                </div>
        </div>
    </div>
</div>