<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="" routerLinkActive="active">{{ 'navbar.home' | translate }}</a>
  </li>
  <li class="nav-item dropdown ms-auto">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" routerLink="/user" routerLinkActive="active" role="button" aria-expanded="false">{{login}}</a>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="\user">{{ 'navbar.edit' | translate }}</a></li>
      <li><a class="dropdown-item" href="#" style="color:red" (click)="logout()">{{ 'navbar.logout' | translate }}</a></li>
    </ul>
  </li>
</ul>
