<div class="card" translate>
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">{{ 'todoForm.modalTitle' | translate }}</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal(false)"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="todoForm" translate>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" style="border: 0;" formControlName="title" (change)="saveLi()" placeholder="{{'todo.non-title' | translate}}">
          <label for="title">{{ 'todoForm.title' | translate }}</label>
        </div>
        <div class="input-group form-floating mb-3">
          <input class="form-control" id="date" type="date" formControlName="date">
            <span class="input-group-text">
              <a class="btn" (click)="saveLi()">
                {{ 'todoForm.save-date' | translate }}
              </a>
            </span>
          <label for="date">{{ 'todoForm.date' | translate }}</label>
        </div>
        <hr>
      </form>
      <ol class="container">
        <li *ngFor="let element of todoElements" class="mb-3">
          <!-- <div class="input-group mb-3">
            <div class="input-group-text">
              <input class="form-check-input" id="check" type="checkbox" [checked]="element.status == 'DONE'" (click)="done($event, element.id, element.content)">
            </div>
            <textarea rows="1" style="resize: none;" 
            [(ngModel)]="element.content" 
            [className]="element.status == 'DONE' ? 'form-control text-decoration-line-through' : 'form-control text-decoration-none'"
            (change)="saveEl(element.id, element.content, element.status)" 
            placeholder="{{'todo.non-title' | translate}}">
            </textarea>
            <span class="input-group-text">
              <a class="btn" (click)="deleteEl(element.id)">
                <i class="bi bi-trash"></i>
              </a>
            </span>
          </div> -->
          <div class="input-group">
            <div class="input-group-text">
              <input class="form-check-input" id="check" type="checkbox" 
              [checked]="element.status == 'DONE'" 
              (click)="done($event, element.id, element.content)">
            </div>
            <textarea placeholder="{{'todo.non-title' | translate}}" style="resize: none;"
              [(ngModel)]="element.content" 
              [className]="element.status == 'DONE' ? 'form-control materialize-textarea text-decoration-line-through' : 'form-control materialize-textarea'"
              (change)="saveEl(element.id, element.content, element.status)"></textarea>
            <div class="input-group-text">
              <a class="btn" (click)="deleteEl(element.id)">
                <i class="bi bi-trash"></i>
              </a>
            </div>
          </div>
        </li>
      </ol>
      <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="addTodoEl()">{{ 'todoForm.addEl' | translate }}</button>
      </div>
    </div>
</div>
